
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="chitti" class="com.nt.beans.ChittiRobot">
		<property name="id" value="10001" />
		<property name="name" value="chitti" />
		<property name="type" value="domestic" />
		<!-- <property name="dom" value="10/2/2014" /> -->
	</bean>

	<!-- <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/> 
		(or) -->
	<!-- <context:annotation-config /> -->
</beans>

